@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Robolto", sans-serif;
    src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Pacifico";
    src: url("../assets/fonts/Pacifico-Regular.ttf");
}

p {
    font-family: "roboto";
    padding-left: 25px;
    padding-right: 25px;
}

h3 {
    font-family: "roboto";
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color: #2196f3;
    text-decoration: none;
}